#main{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 auto;
	
}

#img-div{
	width: 100%;
	/*
	border: 2px black solid;
	border-radius: 20px;
	*/
	background-color: #fff;
}

#image{
	width: 90vw;	
	display: block;
	margin: 0 auto;
}

#tribute-info{
	width: 60%;
	margin: 0 auto;
}

@media(max-width: 360px){
	#tribute-info{
		width: 100%;

	}

	#tribute-info li{
		padding: 10px
	}
	
	#image{
		width: 100%;
		height: auto;
	}
}
